# Configurações da Aplicação
PORT=8080

# Configurações do Banco de Dados PostgreSQL
DB_HOST=db
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=
DB_NAME=docker_go_db

# Configurações do pgAdmin (Gerenciador do DB)
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=
